/* @font-face {
    font-family: 'orwellian_regularregular';
    src: url('fonts/orwellian_final_otf-webfont.woff2') format('woff2'),
         url('fonts/orwellian_final_otf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mission_gothicregular';
    src: url('fonts/mission_gothic_regular-webfont.woff2') format('woff2'),
         url('fonts/mission_gothic_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@media screen and (min-width: 1400px) {
    body {
        overflow: hidden;
    }
}

body {
    background-image: url(img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}

/* .modal {
    font-family: 'mission_gothicregular', serif;
} */

#title {
    font-family: 'ultra', serif;
    /* margin-left: 460px; */
    padding-top: 10px;
    text-align: center;
}

#card-back {
    /* border: 2px solid #807373; */
    border-radius: 6px;
    /* padding: 1px; */
}

.deck-back {
    /* border: 2px solid #807373; */
    border-radius: 6px;
    /* padding: 2px; */
}

.table-left {
    background-color: green;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.table-right {
    background-color: green;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.display {
    /* font-family: 'mission_gothicregular', serif; */
    background-color: yellowgreen;
    border-radius: 12px;
    /* color: white; */
    
}

/* .btn {
    background-color: green;
    color: white;
} */

/* .buttons {
    padding-bottom: 10px;
    margin-left: 500px;
} */

#new-draw {
    margin-right: 5px;
}

#stay {
    margin-left: 5px;
}

.card-front {
    width: 144px;
    height: auto; 
}

.scores {
    padding-right: 10px;
}

.flip {
    display: inline-block;
}

/* .front img {
    position: absolute;
    z-index: 333;
} */

/* .back img {
    position: absolute;
} */

#parent {
    position: relative;
    top: 0;
    left: 0;
}

#img-0 {
    position: relative;
    top: 0;
    left: 0;
}

.stacked-card {
    position: absolute;
    top: 54px;
    left: 15px;
}

@media screen and (max-width: 1024px) {
    #parent {
        display: none !important;
    }
}